body {
    font-family: 'Source Sans Pro', sans-serif;
    /* background-color: black; */
    background-image: url('../images/bg.jpg');
    color: white;
    margin: 0;
}

.nav {
    margin: 0;
}

.nav ol {
    margin: 0;
    display: flex;
    padding: 0;
}

.nav__menu--main {
    background-color: #ffd800;
}

.nav__link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.nav__item {
    width: inherit;
    list-style: none;
    padding: 0 2% 0 5%;
}

.nav__menu--sub .nav__item .nav__link {
    padding-left: 2%;
    color: white;
}

.nav__menu--sub {
    background-color: black;
}

.nav__imgContent {
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav__img {
    margin: 5%;
    width: 60%;
    border-radius: 10px;
}

.section_description {
    margin: 5%;
}

.section__products {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section__product {
    border: 1px solid gray;
    border-radius: 10px;
    width: 90%;
    margin-bottom: 5%;
    flex-shrink: 0;
}

.figure__imgContent {
    display: flex;
    justify-content: center;
}

.img__product {
    width: 100%;
    border-radius: 10px;
}

.section__details {
    margin: 2% 2%;
}

.h3__productTitle {
    margin: inherit;
    font-weight: bold;
}

.p_product {
    margin: inherit;
}

.p_product--RRP {
    color: gray;
}

.p_product--Price {
    color: white;
}

.p_product--PriceSaved {
    color: green;
}